{% extends 'base.html.twig' %}

{% block title %}About page{% endblock %}

{% block body %}
    <h1> About Page </h1>

    <p>This is a site where users can bid on items up for auction and all proceeds go to charity </p>

{% endblock %}


