{% extends 'base.html.twig' %}

{% block title %}errors page{% endblock %}

{% block body %}
    <h1>Whoops! Something went wrong</h1>

   <h2>404 - no found error</h2>

        <p>Sorry the item you were looking for could not be found</p>


{% endblock %}