{% extends 'base.html.twig' %}

{% block title %}MGW-about page {% endblock %}

{% block body %}
    <h1> About Page </h1>

    <p> We are a team of PHP developers </p>

{% endblock %}

<div class="row">
    <div class="col-6 col-sm-3"><h1>Homepage</h1></div>

    <div class="w-100"></div>



</div>
