{% extends 'base.html.twig' %}

{% block title %}home page{% endblock %}

{% block body %}
    <h1>Home page</h1>
    <p>
        This is the home of charity auctions Ireland
        <br>
        Take a look at our auctions page to see a list of whats currently up for auction
    </p>
{% endblock %}




